* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading__stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  min-height: 100vh;
  font-family: Inter;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

.main__container {
  display: flex;
  max-width: 60%;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.75rem;
  width: 60%;
  background-color: var(--card-background);
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.stats__container {
  display: flex;
  justify-content: space-between;
  padding-right: 2.5rem;
}

.img__container {
  position: relative;
  display: inline-block;
}

.main__img {
  width: 100%;
  display: block;
  z-index: 1;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.over__img {
  content: "";
  background-color: hsla(277, 64%, 61%, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.mobile__img {
  display: none;
}

.main__heading {
  color: var(--main-heading__stats);
  padding-bottom: 1.5625rem;
}

.main__article {
  color: var(--main-paragraph);
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding-right: 3.125rem;
}

.stats__heading {
  color: var(--main-heading__stats);
  font-size: 1.125rem;
  font-weight: 700;
}

.main__stats {
  color: var(--stat-headings);
  font-size: 0.625rem;
  font-family: Lexend Deca;
  text-transform: uppercase;
  margin-top: 0.3125rem;
}

span {
  color: var(--accent);
}

@media only screen and (max-width: 53.125rem) {
  .main__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 5rem 1.875rem;
  }
  .content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1.875rem;
    width: 100%;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    border-top-left-radius: 0rem;
  }
  .stats__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 2.5rem;
  }
  .main__article {
    padding-right: 0;
    padding-bottom: 1.875rem;
  }
  .main__stats {
    padding-bottom: 1.25rem;
  }
  .main__img {
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0.625rem;
    display: none;
  }
  .mobile__img {
    display: block;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 100%;
  }
  .over__img {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0.625rem;
  }
}
